{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-6">
                <div class="card">
                    <div class="card-body py-5 px-5">
                        <div class="text-center">
                            <h1>Change your password</h1>
                            <p>Use the form below to change your password.</p>
                        </div>
                        
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.old_password|as_crispy_field }}
                            </div>
                            <div class="mb-3">
                                {{ form.new_password1|as_crispy_field }}
                            </div>
                            <div class="mb-3">
                                {{ form.new_password2|as_crispy_field }}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}